<div class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-4 w-100 d-sm-flex align-items-center justify-content-between">
        <img class="py-3 py-sm-3 h-header-img" src="/assets/images/logo-white.png" alt="logo">

        <ul class="list-unstyled text-white row row-cols-2 row-cols-sm-4 mb-0 col-sm-9 col-md-7 ">
          <li class="py-3 text-center text-sm-end col h-navbar"><a href="#">系列鏡框</a></li>
          <li class="py-3 text-center text-sm-end col h-navbar"><a href="#">門市據點</a></li>
          <li class="py-3 text-center text-sm-end col h-navbar"><a href="#">部落格</a></li>
          <li class="py-3 text-center text-sm-end col h-navbar"><a href="qa.html">常見問題</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>